h1{
    padding: 10px;
    margin: 0 30% ;
    background: linear-gradient(rgb(1, 2, 5) ,rgb(98, 99, 98));
    color: #3ccfc8;
    text-align: center;
    border-radius: 20px 5px;
    box-shadow:3px 3px 6px #323838;
}
h1:hover{
    color:rgb(185, 186, 190) ;
}
.container{
    font: 1.5em sans-serif;
}
.container p{
    border: 1px rgb(158, 161, 161) solid;
    padding: 5px;
    margin: 10px;
    background:linear-gradient(to left,rgb(236, 236, 236), rgb(209, 253, 255));
    color: rgb(0, 0, 0);
    border-radius: 15px;
}
strong{
    color: rgb(114, 48, 59);
}